body {
    background-color: white;
    background-repeat: round;
} 

.header-image {
    width: 100%;
    margin: 0;
    max-width: 960px;
}

.white-background {
    background-color: white;
}

.wrap { 
	background-color: #F7E7A7;
    height:auto; }
    
#sidebar {
    height:auto;
    background-repeat: repeat;
    background-color: rgb(124, 185, 255);
    overflow-y: scroll;   
    }

.modal-body {
    background-color: rgb(124, 185, 255);
}


article {
    background-color:rgba(229, 237, 241, 0.5);

    }

.p_article {
    font-size: 14pt; 
    margin-right:20px;
    margin-left:50px;
}

.img-responsive {
    max-width: 380px;
    width:100%;
    margin-top:100px;
}

.chip-card {
    max-width: 300px;
    
}

.windmill {
    max-width:300px;
    
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 20px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.windmill_h {
    max-width:300px;
    
}

#cf {
    position:relative;
    height:180px;
    width:450px;
    margin:0 auto;
  }
  
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(27, 171, 255)
}

.navbar-light .navbar-nav .nav-link:focus {
    outline: none;
}

.picture-bottom {
    padding-bottom: 20px;
}

.picture-top-f {
    padding-top: 10px;
    margin-left: 5px;
}

.picture-top-i {
    padding-top: 10px;
    margin-left: 5px;
}

.picture-top-t {
    padding-top: 8px;
    margin-left: 5px;
}

.picture-top-p {
    padding-top: 8px;
}


form {
    max-width: 700px;
}


    